//~~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* EXTENDS *~~~~~~//
//~~~~~~~~~~~~~~~~~~~~~~~//


// %paragraphs
$paragraphs__line-height: 1.3 !default;
$paragraphs__text-align: justify !default;


// Components: articles & project structure & table striped
%paragraphs {
    line-height: $paragraphs__line-height;
    // text-align: $paragraphs__text-align;
}


// Icons: directories & files
%project-structure__icons {
    display: inline-block;
    float: left;
    transform: scale(0.8);
    margin: -3px 3px 0 0;
}