//-
    Translate

div(ng-controller="translateController" class="languages")
    a(ng-click="translate('pl')" class="" ng-href="/pl" rel="help") pl
    a(ng-click="translate('en')" class="" ng-href="/en" rel="help") en