//-
    Body After Open

//JavaScripts Sources
//build:js js/main.min.js
//Bower Components
//bower:js
script(src="bower_components/jquery/dist/jquery.js")
script(src="bower_components/angular/angular.js")
script(src="bower_components/angular-ui-router/release/angular-ui-router.js")
script(src="bower_components/angular-animate/angular-animate.js")
script(src="bower_components/angular-aria/angular-aria.js")
script(src="bower_components/angular-messages/angular-messages.js")
script(src="bower_components/angular-material/angular-material.js")
//endbower
//Application Initialize / Configuration
script(src="js/app.js")
script(src="js/app.config.js")
//Application Controllers
script(src="js/controllers/readmeController.js")
script(src="js/controllers/notfoundController.js")
script(src="js/controllers/translateController.js")
//Application Directives
//Application Services
script(src="js/services/urlParamsProvider.js")
//endbuild