//-
    Changelog

article(id="Changelog" class="article")
    header.article__header
        h3.article__title.tertiary-heading #{data.articles.changelog.headline}
            a(href="#Changelog" rel="help" class="article__anchor anchor")
    .article__body
        p.article__paragraph #{data.articles.changelog.paragraph[0][0]} 
            a(href="https://github.com/mateuszarchicinski/Angular1.x-Template" target="_blank" rel="help") Github
            |  #{data.articles.changelog.paragraph[0][1]} 
            a(href="https://github.com/mateuszarchicinski/Angular1.x-Template/releases" target="_blank") #{data.articles.changelog.paragraph[0][2]}
            | .