//-
    License

article(id="License" class="article")
    header.article__header
        h3.article__title.tertiary-heading #{data.articles.license.headline}
            a(href="#License" rel="help" class="article__anchor anchor")
    .article__body
        p.article__paragraph
            a(href="https://github.com/mateuszarchicinski/Angular1.x-Template/blob/master/LICENSE" target="_blank" rel="license") #{data.articles.license.paragraph[0][0]}
            | .