//~~~~~~~~~~~~~~~~~~~~//
//~~~~~* README *~~~~~//
//~~~~~~~~~~~~~~~~~~~~//


$readme__width: 750px !default;
$readme__background: $color__white !default;
$readme__padding: 50px 45px 75px !default;
$readme__border-radius: 2px !default;
$readme__border: 1px solid rgba($color__black, 0.1) !default;
$readme__box-shadow: 0 4px 8px 0 rgba($color__black, 0.35), 0 5px 100px 0 rgba($color__black, 0.1) !default;
$readme__margin: 0 auto !default;
// __info
$readme__info__padding: 0 0 0.125em 1em !default;
$readme__info__border-left: 0.25em solid $color__sunset-orange !default;


.readme{
    width: $readme__width;
    background: $readme__background;
    padding: $readme__padding;
    border-radius: $readme__border-radius;
    border: $readme__border;
    box-shadow: $readme__box-shadow;
    margin: $readme__margin;
    &__info{
        @extend %paragraphs;
        padding: $readme__info__padding;
        border-left: $readme__info__border-left;
        a{
            @extend %display-inline-block;
        }
        strong{
            @extend %font-weight-500;
        }
    }
}