doctype strict
html(xmlns="http://www.w3.org/1999/xhtml")
    head
        include components/_head
    body
        table.body
            tr
                td.center(align="center", valign="top")
                    center
                        block content