//~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* COLORS *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~~~//


// Default Colors
$color__black:       #000;
$color__white:       #fff;


// Additional Colors
$color__navy-blue:   #0074d9; // Used for links
$color__amour:       #ffebee; // Used for code lines & blocks


// Material Design Colors - https://www.materialpalette.com/red/indigo
$color__persian-red: #d32f2f;
$color__red-orange:  #f44336;
$color__we-peep:     #ffcdd2;
$color__neon-blue:   #536dfe;
$color__nero:        #212121;
$color__grey:        #757575;
$color__silver:      #bdbdbd;