//~~~~~~~~~~~~~~~~~~~~//
//~~~~* VARIABLES *~~~//
//~~~~~~~~~~~~~~~~~~~~//


// ---------------------
//     HELPERS
// ---------------------


// *--------- FUNCTIONS ---------*


// *--------- VARIABLES ---------*
// Lines Heights
$line-height__1-2: 1.2;
$line-height__1-3: 1.3;

// Fonts
$font__roboto: Roboto;
$font__helvetica-neue: "Helvetica Neue";
$font__sans-serif: sans-serif;

// Fonts Sizes
$font-size__1: 1em;

// Fonts Weights
$font-weight__bolder: 600;
$font-weight__bold: 500;
$font-weight__normal: 400;
$font-weight__lighter: 300;

// Colors
$color__black: #000;
$color__white: #fff;
$color__red-orange: #f44336;
$color__sunset-orange: #ef5350;
$color__amour: #ffebee;

// Breaks Points
$break-point__1: 750px;


// *--------- MIXINS ---------*


// *--------- TYPOGRAPHY ---------*
$base__line-height: $line-height__1-2;
$base__font-family: $font__roboto, $font__helvetica-neue, $font__sans-serif;
$base__font-size: $font-size__1;
$base__font-weight: $font-weight__normal;
/* Headings */
// .primary-heading
$primary-heading__font-size: $base__font-size * 2;
$primary-heading__font-weight: $font-weight__lighter;
$primary-heading__text-transform: uppercase;
// ::after
$primary-heading__after__width: #{(150 / 16)}em;
$primary-heading__after__height: #{(3 / 16)}em;
$primary-heading__after__background: $color__red-orange;
$primary-heading__after__font-size: $primary-heading__font-size / 4;
$primary-heading__after__border-radius: 25%;
$primary-heading__after__margin: #{(5 / 16)}em auto 0;
// .secondary-heading .tertiary-heading .quaternary-heading
$secondary-heading__font-size: $primary-heading__font-size - 0.5;
$tertiary-heading__font-size: $secondary-heading__font-size - 0.25;
$headings__font-weight: $base__font-weight;
$headings__padding-bottom: #{(4 / 16)}em;
$headings__border-bottom: 1px solid $color__red-orange;
$quaternary-heading__font-size: $tertiary-heading__font-size - 0.1;


// ---------------------
//     FRAMEWORKS
// ---------------------


// *--------- ANGULAR MATERIAL ---------*
$font-family: $base__font-family;


// ---------------------
//     LAYOUT
// ---------------------


// *--------- GENERAL ---------*
$box-sizing: border-box;
// html
$html__line-height: $base__line-height;
// body
$body__font-size: $base__font-size;


// *--------- MAIN HEADER ---------*


// *--------- MAIN WRAPPER ---------*
// [ui-view]
$ui-view__transition: all 0.25s ease;
// .ng-enter
$ui-view__ng-enter__opacity: 0;
$ui-view__ng-enter__transform: scale3d(.95, .95, .95);
// .ng-enter-active
$ui-view__ng-enter-active__opacity: 1;
$ui-view__ng-enter-active__transform: scale3d(1, 1, 1);
// .ng-leave
$ui-view__ng-leave-active__transform: translate3d(0, 0, 0);
// .ng-leave-active
$ui-view__ng-leave-active__opacity: 0;


// *--------- MAIN FOOTER ---------*
// __copyright
$main-footer__copyright__font-size: $base__font-size * 0.80;
$main-footer__copyright__font-weight: $base__font-weight;


// ---------------------
//     PAGES
// ---------------------


// *--------- README ---------*
$readme__background: $color__white;
$readme__border: 1px solid rgba($color__black, 0.1);
$readme__box-shadow: 0 4px 8px 0 rgba($color__black, 0.35), 0 5px 100px 0 rgba($color__black, 0.1);
// __info
$readme__info__padding: 0 0 0.125em 1em;
$readme__info__border-left: 0.25em solid $color__sunset-orange;


// ---------------------
//     COMPONENTS
// ---------------------


// *--------- ARTICLES ---------*
// article__list li
$article__list__li__margin: 1em 0;


// *--------- SYNTAX HIGHLIGHTING ---------*
// __line __block
$code__line-block__background: $color__amour;
$code__line-block__font-size: 90%;
$code__line-block__text-align: left;
$code__line-block__color: $color__black;


// ---------------------
//     BASE
// ---------------------


// *--------- EXTENDS ---------*
// %paragraphs
$paragraphs__line-height: $line-height__1-3;
$paragraphs__text-align: justify;
// %display-inline-block
$display-inline-block__text-align: left;
// %font-weight-500
$font-weight-500__font-weight: $font-weight__bold;

