//~~~~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* VARIABLES *~~~~~~//
//~~~~~~~~~~~~~~~~~~~~~~~~~//


// ---------------------
//     HELPERS
// ---------------------


// *--------- FUNCTIONS ---------*


// *--------- VARIABLES ---------*
// Lines Heights
$line-height__1-2: 1.2;
$line-height__1-3: 1.3;

// Fonts
$font__roboto: Roboto;
$font__helvetica-neue: "Helvetica Neue";
$font__sans-serif: sans-serif;

// Fonts Sizes
$font-size__1: 1em;

// Fonts Weights
$font-weight__bolder: 600;
$font-weight__bold: 500;
$font-weight__normal: 400;
$font-weight__lighter: 300;

// Colors
$color__black: #000;
$color__white: #fff;
$color__red-orange: #f44336;
$color__sunset-orange: #ef5350;
$color__amour: #ffebee;
$color__we-peep: #ffcdd2;
$color__blue: #0000ee;
$color__steel-blue: #4078c0;
$color__navy-blue: #0074d9;
$color__nero: #212121;

// Breaks Points
$break-point__1: 749px;


// *--------- MIXINS ---------*


// *--------- TYPOGRAPHY ---------*
$base__line-height: $line-height__1-2;
$base__font-family: $font__roboto, $font__helvetica-neue, $font__sans-serif;
$base__font-size: $font-size__1;
$base__font-weight: $font-weight__normal;
/* Headings */
// .primary-heading
$primary-heading__font-size: $base__font-size * 2;
$primary-heading__font-weight: $font-weight__lighter;
$primary-heading__text-transform: uppercase;
// ::after
$primary-heading__after__width: #{(150 / 16)}em;
$primary-heading__after__height: #{(3 / 16)}em;
$primary-heading__after__background: $color__red-orange;
$primary-heading__after__font-size: $primary-heading__font-size / 4;
$primary-heading__after__border-radius: 20%;
$primary-heading__after__margin: #{(5 / 16)}em auto 0;
// .secondary-heading .tertiary-heading .quaternary-heading
$secondary-heading__font-size: $primary-heading__font-size - 0.5;
$tertiary-heading__font-size: $secondary-heading__font-size - 0.25;
$headings__font-weight: $base__font-weight;
$headings__padding-bottom: #{(4 / 16)}em;
$headings__border-bottom: 1px solid $color__red-orange;
$quaternary-heading__font-size: $tertiary-heading__font-size - 0.1;
/* Text */
//__normal
$text-normal__font-size: $base__font-size;
//__small
$text-small__font-size: $text-normal__font-size - 0.25;
//__medium
$text-medium__font-size: $text-normal__font-size + 0.25;
//__large
$text-large__font-size: $text-medium__font-size + 0.25;
// strong
$strong__font-weight: $font-weight__bold;


// ---------------------
//     FRAMEWORKS
// ---------------------


// *--------- ANGULAR MATERIAL ---------*
$font-family: $base__font-family;


// ---------------------
//     COMPONENTS
// ---------------------


// *--------- ARTICLES ---------*
// .article__list li
$article__list__li__margin: 1em 0 1.5em;
$article__list__li-last-child__margin: 1em 0 1em;
// .article__list-points li
$article__list-points__li__margin: 0.8em 0;


// *--------- SYNTAX HIGHLIGHTING ---------*
// __line __block
$code__line-block__background: $color__amour;
$code__line-block__font-size: 90%;
$code__line-block__text-align: justify;
$code__line-block__color: $color__black;
// __block .part- visible/hidden .invert
$part-visible-hidden__beark-point: 608px;
// __keyword & __name & __opt-arg
$param__keyword-name-opt-arg__color: $color__black;
// __name & __opt-arg - before & after
$param__name-opt-arg__font-size: $base__font-size + 0.75;
// __name - before & after
$param__name__color: $color__sunset-orange;
// __opt-arg - before & after
$param__opt-arg__color: $color__navy-blue;


// *--------- PROJECT STRUCTURE ---------*
// .project-structure .branch
$project-structure__branch__border-left: 1px dashed $color__black;
// .project-structure .branch ::after ::before
$project-structure__branch-before-after__background: $color__red-orange;
// .branch .leaf-top ::before
$branch__leaf-top-before__border-top: $project-structure__branch__border-left;
// .branch .leaf-top ::after
$branch__leaf-top-after__background: $project-structure__branch-before-after__background;
// .branch .leaf-bottom ::before
$branch__leaf-bottom-before__border-left: $project-structure__branch__border-left;


// *--------- TABLE STRIPED ---------*
$table-striped__border: 1px solid $color__sunset-orange;
// __header & __data - :nth-child(even)
$table-striped__header-data__border-left: $table-striped__border;
// __header
$table-striped__header__background: $color__amour;
$table-striped__header__font-weight: $font-weight__bold;
// __header - :nth-child(odd)
$table-striped__header__border-top: $table-striped__border;
$table-striped__header__border-bottom: $table-striped__border;
// __data - :nth-child(even)
$table-striped__data__background: $table-striped__header__background;
$table-striped__data__border-top: $table-striped__border;
$table-striped__data__border-bottom: $table-striped__border;
// __data - :first-child
$table-striped__data__text-align: center;
// __data - :first-child - ::before
$table-striped__data__before__background: $color__white;
$table-striped__data__before__font-size: 11.5px;
$table-striped__data__before__text-align: $table-striped__data__text-align;
$table-striped__data__before__color: $color__black;
$table-striped__data__before__border-right: $table-striped__border;
$table-striped__data__before__border-bottom: $table-striped__border;
// __data - .rotate-content
$table-striped__data__rotate-content__breake-point: 608px;
$table-striped__data__rotate-content__margin: #{(5 / 16)}em;


// *--------- LINKS ---------*
$a__text-decoration: none;
$a__color: $color__navy-blue; // $color__navy-blue - $color__steel-blue - $color__blue
$a__transition: 0.25s color ease;
// a link - visited
$a__link-visited__color: $a__color;
// a hover
$a__hover__color: $color__red-orange;
// a active
$a__active__color: $color__sunset-orange;


// ---------------------
//     PAGES
// ---------------------


// *--------- README ---------*
$readme__background: $color__white;
$readme__border: 1px solid rgba($color__black, 0.1);
$readme__box-shadow: 0 3px 6px rgba($color__black, 0.15), 0 3px 6px rgba($color__black, 0.24);
// __info
$readme__info__padding: 0 0 0.125em 1em;
$readme__info__border-left: 0.25em solid $color__sunset-orange;


// ---------------------
//     LAYOUT
// ---------------------


// *--------- GENERAL ---------*
$box-sizing: border-box;
// html
$html__line-height: $base__line-height;
// body
$body__font-size: $base__font-size;


// *--------- MAIN HEADER ---------*


// *--------- MAIN WRAPPER ---------*
// [ui-view]
$ui-view__transition: 0.25s all ease;
// .ng-enter
$ui-view__ng-enter__opacity: 0;
$ui-view__ng-enter__transform: scale3d(.95, .95, .95);
// .ng-enter-active
$ui-view__ng-enter-active__opacity: 1;
$ui-view__ng-enter-active__transform: scale3d(1, 1, 1);
// .ng-leave
$ui-view__ng-leave-active__transform: translate3d(0, 0, 0);
// .ng-leave-active
$ui-view__ng-leave-active__opacity: 0;


// *--------- MAIN FOOTER ---------*
// __copyright
$main-footer__copyright__font-size: $base__font-size * 0.80;
$main-footer__copyright__font-weight: $base__font-weight;


// ---------------------
//     BASE
// ---------------------


// *--------- EXTENDS ---------*
// %paragraphs
$paragraphs__line-height: 1.3;
$paragraphs__text-align: justify;

