//-
    PL - Notfound

//Notfound View
section(class="notfound-page")
    header.notfound-page__header
        h2.notfound-page__title.secondary-heading #{data.section[1].headline} &#9785;
        p.notfound-page__info #{data.section[1].info[0]}
        a.notfound-page__button.notfound-page__button-primary(href="/" rel="help") #{data.section[1].button[0]}