//-
    Layout

doctype html
html(ng-app=appName lang=data.lang)
    head
        include ../components/_head
    body(ng-cloak="")
        include ../components/_bodyAfterOpen
        
        //[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to improve your experience.</p><![endif]
        
        main
            block content
        
        include ../components/_bodyBeforeClose