//-
    Configuration
article.article
    header.article__header
        h3.article__title.tertiary-heading= data.articles.configuration.headline
    .article__body
        p.article__paragraph= data.articles.usage.paragraph[0]