//-
    Project Structure
article.article
    header.article__header
        h3.article__title.tertiary-heading= data.articles.projectStructure.headline
    .article__body
        p.article__paragraph= data.articles.usage.paragraph[0]
        ul.article__list
            li Katalog projektu
                ul
                    li dist
                    li node_modules
                    li src
                        ul
                            li bower_components
                            li css
                            li files
                            li img
                            li js
                            li sass
                            li template
                            li views
                    li testt