//-
    Usage
article.article
    header.article__header
        h3.article__title.tertiary-heading= articles.usage.headline
    .article__body
        p.article__paragraph= articles.usage.paragraph[0]