
<!--Default View-->
<header class="main-wrapper__header">
  <h2 class="main-wrapper__title secondary-heading">Angular 1.x.x Szablon</h2>
  <p class="main-wrapper__info">Szablon umożliwiający szybkie w pełni zautomatyzowane rozpoczęcie projektu <br class="br-1"/>z <a href="https://angularjs.org/" target="_blank" rel="help">Angularem 1.x.x</a>. Wykorzystuje do tego <a href="https://nodejs.org/en/" target="_blank" rel="help">NodeJS</a> ,<a href="https://www.npmjs.com/" target="_blank" rel="help">NPM</a> ,<a href="https://bower.io/" target="_blank" rel="help">Bower</a> ,<a href="http://gulpjs.com/" target="_blank" rel="help">GulpJS</a> i <a href="https://karma-runner.github.io/1.0/index.html" target="_blank" rel="help">Karma</a>.</p>
</header>
<div class="main-wrapper__body">
  <article class="article">
    <header class="article__header">
      <h3 class="article__title tertiary-heading">Użycie</h3>
    </header>
    <div class="article__body">
      <p class="article__paragraph">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis.</p>
    </div>
  </article>
  <article class="article">
    <header class="article__header">
      <h3 class="article__title tertiary-heading">Konfiguracja</h3>
    </header>
    <div class="article__body">
      <p class="article__paragraph">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis.</p>
    </div>
  </article>
  <article class="article">
    <header class="article__header">
      <h3 class="article__title tertiary-heading">Struktura folderów</h3>
    </header>
    <div class="article__body">
      <p class="article__paragraph">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis.</p>
    </div>
  </article>
  <article class="article">
    <header class="article__header">
      <h3 class="article__title tertiary-heading">NPM moduły</h3>
    </header>
    <div class="article__body">
      <p class="article__paragraph">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis.</p>
    </div>
  </article>
  <article class="article">
    <header class="article__header">
      <h3 class="article__title tertiary-heading">Bower komponenty</h3>
    </header>
    <div class="article__body">
      <p class="article__paragraph">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis.</p>
    </div>
  </article>
  <article class="article">
    <header class="article__header">
      <h3 class="article__title tertiary-heading">Gulp zadania</h3>
    </header>
    <div class="article__body">
      <p class="article__paragraph">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis.</p>
    </div>
  </article>
  <article class="article">
    <header class="article__header">
      <h3 class="article__title tertiary-heading">Testowanie</h3>
    </header>
    <div class="article__body">
      <p class="article__paragraph">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis.</p>
    </div>
  </article>
  <article class="article">
    <header class="article__header">
      <h3 class="article__title tertiary-heading">Lista zmian</h3>
    </header>
    <div class="article__body">
      <p class="article__paragraph">Ostatnie zmiany można zobaczyć na <a href="https://github.com/" target="_blank" rel="help">Github</a>, stronie <a href="https://github.com/mateuszarchicinski/Angular1.x.x-Template/releases" target="_blank">publikacji projektu</a>.</p>
    </div>
  </article>
  <article class="article">
    <header class="article__header">
      <h3 class="article__title tertiary-heading">Licencja</h3>
    </header>
    <div class="article__body">
      <p class="article__paragraph"><a href="https://github.com/mateuszarchicinski/Angular1.x.x-Template/blob/master/LICENSE" target="_blank" rel="license">MIT Licencja</a>.</p>
    </div>
  </article>
</div>