
<!--Default View-->
<section class="readme" id="Readme">
  <header class="readme__header">
    <h2 class="readme__title secondary-heading">Angular v1.x Szablon</h2>
    <p class="readme__info">Szablon udostępnia skonfigurowane i zautomatyzowane środowisko pracy z możliwością dalszej rozbudowy. Wykorzystuje do tego takie technologie jak <a href="https://nodejs.org/en/" target="_blank" rel="help">NodeJS</a>, <a href="https://www.npmjs.com/" target="_blank" rel="help">NPM</a>, <a href="https://bower.io/" target="_blank" rel="help">Bower</a>, <a href="http://gulpjs.com/" target="_blank" rel="help">GulpJS</a> i <a href="https://karma-runner.github.io/1.0/index.html" target="_blank" rel="help">Karma</a>. W podstawowej konfiguracji jest przygotowany do rozwoju aplikacji webowej po stronie klienta w technologii <a href="https://angularjs.org/" target="_blank" rel="help">Angular v1.x - MVC Framework</a>.</p>
    <p class="readme__info">Przygotowany szablon aplikacji webowej <a href="https://angularjs.org/" target="_blank" rel="help">Angular v1.x</a> udostępnia w pełni skonfigurowane i zautomatyzowane środowisko pracy za pomocą takich technologii jak <a href="https://nodejs.org/en/" target="_blank" rel="help">NodeJS</a>, <a href="https://www.npmjs.com/" target="_blank" rel="help">NPM</a>, <a href="https://bower.io/" target="_blank" rel="help">Bower</a>, <a href="http://gulpjs.com/" target="_blank" rel="help">GulpJS</a> i <a href="https://karma-runner.github.io/1.0/index.html" target="_blank" rel="help">Karma</a>.</p>
  </header>
  <div class="readme__body">
    <article class="article" id="Usage">
      <header class="article__header">
        <h3 class="article__title tertiary-heading">Użycie</h3>
      </header>
      <div class="article__body">
        <p class="article__paragraph">Projekt <strong>Angular 1.x Szablon</strong> jest dostępny wyłącznie na <a href="https://github.com/mateuszarchicinski/Angular1.x-Template" target="_blank" rel="help">Github</a>. Przykłady instalacji poniżej. Do dwóch pierwszych instalacji wymagany jest system kontroli wersji <a href="https://git-scm.com/" target="_blank" rel="help">Git</a>.</p>
        <ol class="article__list no-list-padding">
          <li>Za pomocą konsoli utwórz nowy katalog i przejdź do niego:
            <pre class="code__block"><code class="code__line">mkdir katalog-projektu && cd katalog-projektu</code></pre>W nowym katalogu zainicjuj środowisko komendą <code class="code__line">git init</code> i następnie wywołaj:
            <pre class="code__block"><code class="code__line">git pull <a class="part-hidden invert" href="https://github.com/mateuszarchicinski/Angular1.x-Template" target="_blank" rel="help">repozytorium</a><span class="part-visible invert">https://github.com/mateuszarchicinski/Angular1.x-Template</span></code></pre>
          </li>
          <li>W konsoli wywołaj polecenie sklonowania całego repozytorium, które tym samym utworzy nowy katalog:
            <pre class="code__block"><code class="code__line">git clone <a class="part-hidden invert" href="https://github.com/mateuszarchicinski/Angular1.x-Template" target="_blank" rel="help">repozytorium</a><span class="part-visible invert">https://github.com/mateuszarchicinski/Angular1.x-Template</span></code></pre>
          </li>
          <li>Manualnie pobierz najnowszą stabilną wersje z strony <a href="https://github.com/mateuszarchicinski/Angular1.x-Template/releases" target="_blank">publikacji szablonu</a>.</li>
        </ol>
        <p class="article__paragraph">Po wykonaniu dowolnej instalacji. Przejdź do katalogu projektu i wywołaj polecenia <code class="code__line">npm install</code> i <code class="code__line">bower install</code>.</p>
        <p class="article__paragraph">W tym momencie można zacząć korzystać z wszystkich zdefiniowanych zadań w <strong>gulpfile.js</strong>. Tabela zadań dostępna <a ng-href="#GulpTasks" rel="help">tutaj</a>.</p>
      </div>
    </article>
    <article class="article" id="Configuration">
      <header class="article__header">
        <h3 class="article__title tertiary-heading">Konfiguracja</h3>
      </header>
      <div class="article__body">
        <p class="article__paragraph">Globalne ustawienia są dostępne w pliku <strong>project.config.js</strong>, który umożliwia zmianę: </p>
        <ul class="article__list-points">
          <li>nazwy aplikacji,</li>
          <li>nazwy plików konfiguracyjnych i danych,</li>
          <li>katalogów pracy i produkcji (wymagana również manualna zmiana w pliku <strong>.bowerrc</strong>),</li>
          <li>dostępów FTP,</li>
          <li>podania kluczy do zewnętrznych API.</li>
        </ul>
        <p class="article__paragraph">Dodatkowo może posłużyć nam do przechowywania różnego rodzaju  zmiennych z których będziemy korzystać indywidualnie. W pliku <strong>gulpfile.js</strong> odwołujemy się do niego poprzez zmienną <strong>PROJECT_CONFIG</strong>.</p>
      </div>
    </article>
    <article class="article" id="ProjectStructure">
      <header class="article__header">
        <h3 class="article__title tertiary-heading">Struktura projektu</h3>
      </header>
      <div class="article__body">
        <p class="article__paragraph">Poniżej rekomendowana strukturę projektu. Modyfikując strukturę, pamiętaj aby zmiany również wprowadzić w plikach <strong>project.config.js</strong> i <strong>.bowerrc</strong>.</p>
        <ul class="project-structure">
          <li><i class="directory__root"></i>Katalog projektu
            <ul class="branch">
              <li class="branch__leaf-top"><i class="directory__close"></i>dist</li>
              <li class="branch__leaf"><i class="directory__close"></i>node_modules</li>
              <li class="branch__leaf-bottom"><i class="directory__open"></i>src
                <ul class="branch">
                  <li class="branch__leaf-top"><i class="directory__close"></i>bower_components</li>
                  <li class="branch__leaf-bottom"><i class="directory__open"></i>css
                    <ul class="branch">
                      <li class="branch__leaf-top"><i class="directory__open"></i>maps</li>
                      <li class="branch__leaf-bottom"><i class="file__css"></i>main.css</li>
                    </ul>
                  </li>
                  <li><i class="directory__open"></i>files</li>
                  <li class="branch__leaf"><i class="directory__open"></i>fonts</li>
                  <li class="branch__leaf-bottom"><i class="directory__open"></i>img
                    <ul class="branch">
                      <li class="branch__leaf-top"><i class="directory__open"></i>sprites_sources</li>
                      <li class="branch__leaf-bottom"><i class="file__img"></i>projectStructure.png</li>
                    </ul>
                  </li>
                  <li><i class="directory__open"></i>js
                    <ul class="branch">
                      <li class="branch__leaf-top"><i class="directory__open"></i>controllers</li>
                      <li class="branch__leaf"><i class="directory__open"></i>directives</li>
                      <li class="branch__leaf"><i class="directory__open"></i>services</li>
                      <li class="branch__leaf"><i class="file__js"></i>app.config.js</li>
                      <li class="branch__leaf-bottom"><i class="file__js"></i>app.js</li>
                    </ul>
                  </li>
                  <li><i class="directory__open"></i>sass
                    <ul class="branch">
                      <li class="branch__leaf-top"><i class="directory__open"></i>base</li>
                      <li class="branch__leaf"><i class="directory__open"></i>components</li>
                      <li class="branch__leaf"><i class="directory__open"></i>helpers</li>
                      <li class="branch__leaf"><i class="directory__open"></i>layout</li>
                      <li class="branch__leaf"><i class="directory__open"></i>modules</li>
                      <li class="branch__leaf"><i class="directory__open"></i>pages</li>
                      <li class="branch__leaf-bottom"><i class="file__sass"></i>main.scss</li>
                    </ul>
                  </li>
                  <li><i class="directory__open"></i>template
                    <ul class="branch">
                      <li class="branch__leaf-top"><i class="directory__open"></i>components</li>
                      <li class="branch__leaf"><i class="directory__open"></i>layout</li>
                      <li class="branch__leaf"><i class="directory__open"></i>views</li>
                      <li class="branch__leaf-bottom"><i class="file__pug"></i>index.pug</li>
                    </ul>
                  </li>
                  <li><i class="directory__open"></i>views
                    <ul class="branch">
                      <li class="branch__leaf-top"><i class="file__html"></i>default.html</li>
                    </ul>
                  </li>
                  <li><i class="file__img"></i>apple-touch-icon.png</li>
                  <li class="branch__leaf"><i class="file__xml"></i>browserconfig.xml</li>
                  <li class="branch__leaf"><i class="file__xml"></i>crossdomain.xml</li>
                  <li class="branch__leaf"><i class="file__img"></i>favicon.ico</li>
                  <li class="branch__leaf"><i class="file__html"></i>index.html</li>
                  <li class="branch__leaf"><i class="file__img"></i>tile.png</li>
                  <li class="branch__leaf"><i class="file__img"></i>tile-1200x630px.png</li>
                  <li class="branch__leaf-bottom"><i class="file__img"></i>tile-wide.png</li>
                </ul>
              </li>
              <li><i class="directory__open"></i>test
                <ul class="branch">
                  <li class="branch__leaf-top"><i class="directory__open"></i>spec</li>
                  <li class="branch__leaf-bottom"><i class="file__js"></i>karma.conf.js</li>
                </ul>
              </li>
              <li><i class="file__json"></i>.bowerrc</li>
              <li class="branch__leaf"><i class="file__json"></i>bower.json</li>
              <li class="branch__leaf"><i class="file__js"></i>gulpfile.js</li>
              <li class="branch__leaf"><i class="file__json"></i>package.json</li>
              <li class="branch__leaf"><i class="file__js"></i>project.config.js</li>
              <li class="branch__leaf-bottom"><i class="file__json"></i>project.data.json</li>
            </ul>
          </li>
        </ul>
        <p class="article__paragraph">W przypadku błędu dowolnej funkcjonalności najlepiej powrócić do rekomendowanej struktury lub próbować zlokalizować przyczynę bezpośrednio w pliku <strong>gulpfile.js</strong>.</p>
      </div>
    </article>
    <article class="article" id="NPMModules">
      <header class="article__header">
        <h3 class="article__title tertiary-heading">NPM moduły</h3>
      </header>
      <div class="article__body">
        <p class="article__paragraph">Lista modułów wymaganych do prawidłowego działania wszystkich funkcjonalności szablonu (<strong>package.json</strong>):</p>
        <ul class="article__list-points">
          <li><a href="https://bower.io/" target="_blank" rel="help">bower</a></li>
          <li><a href="https://browsersync.io/" target="_blank" rel="help">browser-sync</a></li>
          <li><a href="https://www.npmjs.com/package/del" target="_blank" rel="help">del</a></li>
          <li><a href="http://gulpjs.com/" target="_blank" rel="help">gulp</a></li>
          <li><a href="https://www.npmjs.com/package/gulp-autoprefixer" target="_blank" rel="help">gulp-autoprefixer</a></li>
          <li><a href="https://www.npmjs.com/package/gulp-clean-css" target="_blank" rel="help">gulp-clean-css</a></li>
          <li><a href="https://www.npmjs.com/package/gulp-cli" target="_blank" rel="help">gulp-cli</a></li>
          <li><a href="https://www.npmjs.com/package/gulp-data" target="_blank" rel="help">gulp-data</a></li>
          <li><a href="https://www.npmjs.com/package/gulp-htmlhint" target="_blank" rel="help">gulp-htmlhint</a></li>
          <li><a href="https://www.npmjs.com/package/gulp-htmlmin" target="_blank" rel="help">gulp-htmlmin</a></li>
          <li><a href="https://www.npmjs.com/package/gulp-if" target="_blank" rel="help">gulp-if</a></li>
          <li><a href="https://www.npmjs.com/package/gulp-imagemin" target="_blank" rel="help">gulp-imagemin</a></li>
          <li><a href="https://www.npmjs.com/package/gulp-jshint" target="_blank" rel="help">gulp-jshint</a></li>
          <li><a href="https://www.npmjs.com/package/gulp-load-plugins" target="_blank" rel="help">gulp-load-plugins</a></li>
          <li><a href="https://www.npmjs.com/package/gulp-plumber" target="_blank" rel="help">gulp-plumber</a></li>
          <li><a href="https://www.npmjs.com/package/gulp-pug" target="_blank" rel="help">gulp-pug</a></li>
          <li><a href="https://www.npmjs.com/package/gulp-pug-lint" target="_blank" rel="help">gulp-pug-lint</a></li>
          <li><a href="https://www.npmjs.com/package/gulp-rename" target="_blank" rel="help">gulp-rename</a></li>
          <li><a href="https://www.npmjs.com/package/gulp-sass" target="_blank" rel="help">gulp-sass</a></li>
          <li><a href="https://www.npmjs.com/package/gulp-sass-lint" target="_blank" rel="help">gulp-sass-lint</a></li>
          <li><a href="https://www.npmjs.com/package/gulp-sourcemaps" target="_blank" rel="help">gulp-sourcemaps</a></li>
          <li><a href="https://www.npmjs.com/package/gulp-tinify" target="_blank" rel="help">gulp-tinify</a></li>
          <li><a href="https://www.npmjs.com/package/gulp-uglify" target="_blank" rel="help">gulp-uglify</a></li>
          <li><a href="https://www.npmjs.com/package/gulp-useref" target="_blank" rel="help">gulp-useref</a></li>
          <li><a href="https://www.npmjs.com/package/gulp-util" target="_blank" rel="help">gulp-util</a></li>
          <li><a href="https://www.npmjs.com/package/gulp.spritesmith" target="_blank" rel="help">gulp.spritesmith</a></li>
          <li><a href="https://www.npmjs.com/package/htmlhint-stylish" target="_blank" rel="help">htmlhint-stylish</a></li>
          <li><a href="https://www.npmjs.com/package/imagemin-gifsicle" target="_blank" rel="help">imagemin-gifsicle</a></li>
          <li><a href="https://www.npmjs.com/package/imagemin-jpegtran" target="_blank" rel="help">imagemin-jpegtran</a></li>
          <li><a href="https://www.npmjs.com/package/imagemin-optipng" target="_blank" rel="help">imagemin-optipng</a></li>
          <li><a href="https://www.npmjs.com/package/imagemin-svgo" target="_blank" rel="help">imagemin-svgo</a></li>
          <li><a href="https://www.npmjs.com/package/jshint-stylish" target="_blank" rel="help">jshint-stylish</a></li>
          <li><a href="https://www.npmjs.com/package/run-sequence" target="_blank" rel="help">run-sequence</a></li>
          <li><a href="https://www.npmjs.com/package/vinyl-ftp" target="_blank" rel="help">vinyl-ftp</a></li>
          <li><a href="https://www.npmjs.com/package/wiredep" target="_blank" rel="help">wiredep</a></li>
          <li><a href="https://jasmine.github.io/" target="_blank" rel="help">jasmine</a></li>
          <li><a href="https://karma-runner.github.io/1.0/index.html" target="_blank" rel="help">karma</a></li>
          <li><a href="https://www.npmjs.com/package/karma-jasmine" target="_blank" rel="help">karma-jasmine</a></li>
          <li><a href="https://www.npmjs.com/package/karma-phantomjs-launcher" target="_blank" rel="help">karma-phantomjs-launcher</a></li>
          <li><a href="https://www.npmjs.com/package/karma-spec-reporter" target="_blank" rel="help">karma-spec-reporter</a></li>
        </ul>
        <p class="article__paragraph">Wszystkie powyższe moduły instalujemy komendą <code class="code__line">npm install</code>.</p>
      </div>
    </article>
    <article class="article" id="BowerComponents">
      <header class="article__header">
        <h3 class="article__title tertiary-heading">Bower komponenty</h3>
      </header>
      <div class="article__body">
        <p class="article__paragraph">Następujące komponenty są elementami niezbędnymi do właściwego funkcjonowania szablonu wykorzystującego technologie <a href="https://angularjs.org/" target="_blank" rel="help">Angular v1.x - MVC Framework</a> i <a href="https://material.angularjs.org/latest/" target="_blank" rel="help">Angular Material v1.x - UI Component</a> (<strong>bower.json</strong>):</p>
        <ul class="article__list-points">
          <li><a href="https://code.angularjs.org/1.6.1/angular.js" target="_blank" rel="help">angular</a></li>
          <li><a href="https://ui-router.github.io/ng1/" target="_blank" rel="help">angular-ui-router</a></li>
          <li><a href="https://code.angularjs.org/1.6.1/angular-animate.min.js" target="_blank" rel="help">angular-animate</a></li>
          <li><a href="https://code.angularjs.org/1.6.1/angular-aria.js" target="_blank" rel="help">angular-aria</a></li>
          <li><a href="https://code.angularjs.org/1.6.1/angular-messages.js" target="_blank" rel="help">angular-messages</a></li>
          <li><a href="https://material.angularjs.org/latest/" target="_blank" rel="help">angular-material</a></li>
          <li><a href="https://code.angularjs.org/1.6.1/angular-mocks.js" target="_blank" rel="help">angular-mocks</a></li>
          <li><a href="https://necolas.github.io/normalize.css/" target="_blank" rel="help">normalize-css</a></li>
        </ul>
        <p class="article__paragraph">Dodatkowe paczki z których można korzystać opcjonalnie:</p>
        <ul class="article__list-points">
          <li><a href="https://jquery.com/" target="_blank" rel="help">jquery</a></li>
          <li><a href="https://github.com/geoffgraham/animate.scss" target="_blank" rel="help">animatewithsass</a></li>
        </ul>
        <p class="article__paragraph">Wszystkie powyższe komponenty instalujemy komendą <code class="code__line">bower install</code>.</p>
        <p class="article__paragraph">Instalacja dodatkowych bibliotek css lub js za pośrednictwem <a href="https://bower.io/" target="_blank" rel="help">Bower</a> spowoduje automatyczne dodanie ścieżki do nowego komponentu w głównym pliku <strong>index.html</strong>. Konfiguracja tej funkcjonalności znajdują się w pliku <strong>gulpfile.js</strong> w module <strong>wiredep</strong>.</p>
      </div>
    </article>
    <article class="article" id="GulpTasks">
      <header class="article__header">
        <h3 class="article__title tertiary-heading">Gulp zadania</h3>
      </header>
      <div class="article__body">
        <p class="article__paragraph">Lista zdefiniowanych zadań w,poniżej. Polecenia wykonujemy z poziomu konsoli przebywając w głównym katalogu projektu. Do każdego zadania dodatkowo krótki opis,z podziałem na zadania pojedyncze i złożone. <strong>gulpfile.js</strong>  <br class="br-g-1"/></p>
        <p class="article__paragraph">Pojedyncze:</p>
        <ul class="article__list">
          <li><code class="code__line">gulp sass:css</code> - Tworzy główny plik <strong>main.css</strong> i <strong>main.css.map</strong> na podstawie pliku <strong>main.scss</strong>.</li>
          <li><code class="code__line">gulp sass:lint</code> - Sprawdza kod <strong>Sass</strong> i raportuje o błędach w plikach <strong>.sass</strong> /<strong>.scss</strong>.</li>
          <li><code class="code__line">gulp js:hint</code> - Sprawdza kod <strong>JavaScript</strong> i raportuje o błędach w plikach <strong>.js</strong>.</li>
          <li><code class="code__line">gulp js:test</code> - Uruchamia testy jednostkowe, nasłuchuje zmian w plikach źródłowych <br class="br-g-2"/>i raportuje o błędach.</li>
          <li><code class="code__line">gulp jade:pug</code> - Konwertuje pliki <strong>.jade</strong> na <strong>.pug</strong>.</li>
          <li><code class="code__line">gulp pug</code> - Tworzy pliki <strong>.html</strong> na podstawie plików <strong>.pug</strong> (Opcjonalne argumenty: <strong>--lang pl / en</strong>).</li>
          <li><code class="code__line">gulp pug:lint</code> - Sprawdza kod <strong>Pug</strong> i raportuje o błędach w plikach <strong>.pug</strong>.</li>
          <li><code class="code__line">gulp html</code> - Na podstawie wskazanych ścieżek w pliku <strong>.html</strong> do plików <strong>.css</strong> i <strong>.js</strong> łączy <br class="br-g-3"/>je w pojedyncze zmniejszone pliki źródłowe.</li>
          <li><code class="code__line">gulp html:hint</code> - Sprawdza kod <strong>HTML</strong> i raportuje o błędach w plikach <strong>.html</strong>.</li>
          <li><code class="code__line">gulp html:minify</code> - Po odpowiednim skonfigurowaniu zmniejszy kod <strong>HTML</strong> w plikach <strong>.html</strong>.</li>
          <li><code class="code__line">gulp server</code> - Uruchamia serwer nasłuchujący na katalog pracy (<strong>src</strong>).</li>
          <li><code class="code__line">gulp watch</code> - W następstwie zmian w plikach uruchamia wskazane zadania.</li>
          <li><code class="code__line">gulp clean</code> - Usuwa katalog produkcyjny (<strong>dist</strong>).</li>
          <li><code class="code__line">gulp copy</code> - Kopiuje wymagane pliki z katalogu pracy (<strong>src</strong>) do katalogu produkcyjnego (<strong>dist</strong>).</li>
          <li><code class="code__line">gulp images</code> - Standardowa optymalizacja grafik.</li>
          <li><code class="code__line">gulp images:optimized</code> - Optymalizuje grafiki za pomocą <a href="https://tinypng.com/developers" target="_blank" rel="help">Tinypng API</a>.</li>
          <li><code class="code__line">gulp images:sprite</code> - Utworzy tak zwanego <strong>Sprite</strong> i plik <strong>.scss</strong> z grafik znajdujących się w folderze <strong>sprites_sources</strong> (Opcjonalne argumenty: <strong>--name _nazwa</strong>).</li>
          <li><code class="code__line">gulp upload</code> - Umożliwia automatyczny upload plików na serwer ftp (Opcjonalny argument:  <strong>--upload</strong>).</li>
          <li><code class="code__line">gulp build:server</code> - Uruchamia serwer nasłuchujący na katalog produkcyjny (<strong>dist</strong>).</li>
        </ul>
        <p class="article__paragraph">Złożone:</p>
        <ul class="article__list">
          <li><code class="code__line">gulp build</code> - Wywoła sekwencja  poleceń:</li>
        </ul>
        <pre class="code__block">clean > sass:lint > sass:css > js:hint > pug:lint > pug > html:hint > html > html:minify > copy > upload</pre>
        <ul class="article__list">
          <li><code class="code__line">gulp build:server</code> - Uruchamia zadanie <code class="code__line">gulp build</code> po czym tworzy serwer nasłuchujący na nowo powstały katalog produkcyjny.</li>
        </ul>
        <pre class="code__block">build > build:server</pre>
        <ul class="article__list">
          <li><code class="code__line">gulp / gulp default</code> - Wywoła sekwencja  poleceń:</li>
        </ul>
        <pre class="code__block">sass:lint > sass:css > js:hint > pug:lint > pug > html:hint > server > watch</pre>
      </div>
    </article>
    <article class="article" id="Testing">
      <header class="article__header">
        <h3 class="article__title tertiary-heading">Testowanie</h3>
      </header>
      <div class="article__body">
        <p class="article__paragraph">Uruchamia się za pomocą zadania <code class="code__line">gulp js:test</code>. Do obsługi testów jednostkowych, nasłuchu zamian w plikach źródłowych i raportowania bledów zostało przygotowane środowisko <a href="https://karma-runner.github.io/1.0/index.html" target="_blank" rel="help">Karma</a>. Standardowa konfiguracja wykorzystuje framework <a href="https://jasmine.github.io/" target="_blank" rel="help">Jasmine</a>, symulator <a href="http://phantomjs.org/" target="_blank" rel="help">PhantomJS</a> i reporter <a href="https://www.npmjs.com/package/karma-spec-reporter" target="_blank" rel="help">Spec</a>. Pliki konfiguracji i testów znajdują się <code class="code__line">Folder projektu > Test > Karma.conf.js / Spec</code>.</p>
      </div>
    </article>
    <article class="article" id="Changelog">
      <header class="article__header">
        <h3 class="article__title tertiary-heading">Lista zmian</h3>
      </header>
      <div class="article__body">
        <p class="article__paragraph">Ostatnie zmiany można zobaczyć na <a href="https://github.com/" target="_blank" rel="help">Github</a> stronie <a href="https://github.com/mateuszarchicinski/Angular1.x-Template/releases" target="_blank">publikacji szablonu</a>.</p>
      </div>
    </article>
    <article class="article" id="License">
      <header class="article__header">
        <h3 class="article__title tertiary-heading">Licencja</h3>
      </header>
      <div class="article__body">
        <p class="article__paragraph"><a href="https://github.com/mateuszarchicinski/Angular1.x-Template/blob/master/LICENSE" target="_blank" rel="license">MIT Licencja</a>.</p>
      </div>
    </article>
  </div>
</section>