//-
    Build

ol.article__list
    li 
        p.article__paragraph #{data.articles.gulpTasks.table.rows.build[0][0]}
            a(href="https://github.com/OverZealous/run-sequence#run-sequence" target="_blank" rel="help") run-sequence
            | ):
        p.article__paragraph.text-small
            code.param__name.param__name-inline-24
                | clean
                a(ng-href="#clean"  href="#clean" rel="help")
                    sup 13
                span.arrow-right
                | sass:lint
                a(ng-href="#sassLint"  href="#sassLint" rel="help")
                    sup 2
                span.arrow-right
                | sass:css
                a(ng-href="#sassCss"  href="#sassCss" rel="help")
                    sup 1
                span.arrow-right
                | js:hint
                a(ng-href="#jsHint"  href="#jsHint" rel="help")
                    sup 3
                span.arrow-right
                | pug:lint
                a(ng-href="#pugLint"  href="#pugLint" rel="help")
                    sup 7
                span.arrow-right
                | pug
                a(ng-href="#pug"  href="#pug" rel="help")
                    sup 6
                span.arrow-right
                | html:hint
                a(ng-href="#htmlHint"  href="#htmlHint" rel="help")
                    sup 9
                span.arrow-right
                | html
                a(ng-href="#html"  href="#html" rel="help")
                    sup 8
                span.arrow-right
                | html:minify
                a(ng-href="#htmlMinify"  href="#htmlMinify" rel="help")
                    sup 10
                span.arrow-right
                | copy
                a(ng-href="#copy"  href="#copy" rel="help")
                    sup 14
                span.arrow-right
                | images
                a(ng-href="#images"  href="#images" rel="help")
                    sup 15
                span.arrow-right
                | upload
                a(ng-href="#upload"  href="#upload" rel="help")
                    sup 17
        p.article__paragraph #{data.articles.gulpTasks.table.rows.build[0][1]}