//-
    Default

ol.article__list
    li 
        p.article__paragraph #{data.articles.gulpTasks.table.rows.build[0][0]}
            a(href="https://github.com/OverZealous/run-sequence#run-sequence" target="_blank" rel="help") run-sequence
            | ):
        p.article__paragraph.text-small
            code.param__name.param__name-inline-24
                | sass:lint
                a(href="#sassLint" rel="help")
                    sup 2
                span.arrow-right
                | sass:css
                a(href="#sassCss" rel="help")
                    sup 1
                span.arrow-right
                | js:hint
                a(href="#jsHint" rel="help")
                    sup 3
                span.arrow-right
                | pug:lint
                a(href="#pugLint" rel="help")
                    sup 7
                span.arrow-right
                | pug
                a(href="#pug" rel="help")
                    sup 6
                span.arrow-right
                | html:hint
                a(href="#htmlHint" rel="help")
                    sup 9
                span.arrow-right
                | server
                a(href="#server" rel="help")
                    sup 11
                span.arrow-right
                | watch
                a(href="#watch" rel="help")
                    sup 12
        p.article__paragraph #{data.articles.gulpTasks.table.rows.default[0][0]} 
            br.br__1
            | #{data.articles.gulpTasks.table.rows.default[0][1]}