//-
    HtmlHint

ol.article__list
    li #{data.articles.gulpTasks.table.rows.htmlHint[0][0]} 
        strong .html
        | .
    include modules/_gulpPlumber
    li #{data.articles.gulpTasks.table.rows.htmlHint[1][0]}
        a(href="https://github.com/bezoerb/gulp-htmlhint#api" target="_blank" rel="help") gulp-htmlhint
        | ).
    li #{data.articles.gulpTasks.table.rows.htmlHint[2][0]} 
        br.br__1
        | #{data.articles.gulpTasks.table.rows.htmlHint[2][1]}
        a(href="https://github.com/bezoerb/gulp-htmlhint#reporters" target="_blank" rel="help") Reporter
        | ).