//-
    Copy

ol.article__list
    li #{data.articles.gulpTasks.table.rows.copy[0][0]}
        ul.article__list.article__list-disc
            li
                strong /files/*
            li
                strong /fonts/*
            li
                strong /img/*
            li
                strong /*.png
            li
                strong /*.xml
            li
                strong /*.ico