//-
    JsTest

ol.article__list
    li #{data.articles.gulpTasks.table.rows.jsTest[0][0]} 
        a(href="https://karma-runner.github.io/1.0/index.html" target="_blank" rel="help") Karma
        |  #{data.articles.gulpTasks.table.rows.jsTest[0][1]} 
        strong karma.conf.js
        | #{data.articles.gulpTasks.table.rows.jsTest[0][2]} 
        a(href="https://karma-runner.github.io/1.0/config/configuration-file.html" target="_blank" rel="help") #{data.articles.gulpTasks.table.rows.jsTest[0][3]}
        | .