//~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* MAIN *~~~~~~//
//~~~~~~~~~~~~~~~~~~~~//


@charset "utf-8";


// ---------------------
//     GENERAL
// ---------------------


    // *--------- VARIABLES ---------*
    @import "helpers/variables";


    // *--------- MIXINS ---------*
    @import "helpers/mixins";


    // *--------- TYPOGRAPHY ---------*
    @import "base/typography";


// ---------------------
//     FRAMEWORKS
// ---------------------


// *--------- ANGULAR MATERIAL ---------*
@import "../bower_components/angular-material/angular-material.scss";


// ---------------------
//     LAYOUT
// ---------------------


// *--------- GENERAL ---------*
@import "layout/general";


// *--------- MAIN HEADER ---------*
@import "layout/header";


// *--------- MAIN WRAPPER ---------*
@import "layout/wrapper";


// *--------- MAIN FOOTER ---------*
@import "layout/footer";


// ---------------------
//     PAGES
// ---------------------


// *--------- README ---------*
@import "pages/readme";


// ---------------------
//     COMPONENTS
// ---------------------


// *--------- ARTICLES ---------*
@import "components/articles";


// *--------- SYNTAX HIGHLIGHTING ---------*
@import "components/syntax-highlighting";


// ---------------------
//     EXTENDS
// ---------------------


// *--------- EXTENDS ---------*
@import "base/extends";

