//~~~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* ARTICLES *~~~~~~//
//~~~~~~~~~~~~~~~~~~~~~~~~//


// .article__list li
$article__list__li__margin: 1em 0 1.5em !default;
$article__list__li-last-child__margin: 1em 0 1em !default;
// .article__list-points li
$article__list-points__li__margin: 0.8em 0 !default;


.article {
    padding-top: 1px;
    &__paragraph {
        @extend %paragraphs;
    }
    &__list {
        li {
            @extend %paragraphs;
            margin: $article__list__li__margin;
            &:last-child {
                margin: $article__list__li-last-child__margin;
            }
        }
        &,
        &-points {
            padding-left: 25px;
            li {
                @extend %paragraphs;
                margin: $article__list-points__li__margin;
            }
        }
        &.no-list-padding {
            list-style: none;
            counter-reset: elementsCounter;
            padding: 0;
            li {
                counter-increment: elementsCounter;
                @include before {
                    content: counter(elementsCounter) ". ";
                }
            }
        }
    }
}