//~~~~~~~~~~~~~~~~~~~~//
//~~~~~* ARTICLES *~~~//
//~~~~~~~~~~~~~~~~~~~~//


$article__padding-top: 5px !default;
// .article__list li
$article__list__li__margin: 1em 0 !default;


.article{
    padding-top: $article__padding-top;
    &__paragraph{
        @extend %paragraphs;
        a{
            @extend %display-inline-block;
        }
        strong{
            @extend %font-weight-500;
        }
    }
    &__list{
        li{
            @extend %paragraphs;
            margin: $article__list__li__margin;
        }
        strong{
            @extend %font-weight-500;
        }
    }
}