//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* PROJECT STRUCTURE *~~~~~~//
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//


// .project-structure .branch
$project-structure__branch__border-left: 1px dashed $color__black !default;
// .project-structure .branch ::after ::before
$project-structure__branch-before-after__background: $color__red-orange !default;
// .branch .leaf-top ::before
$branch__leaf-top-before__border-top: $project-structure__branch__border-left !default;
// .branch .leaf-top ::after
$branch__leaf-top-after__background: $project-structure__branch-before-after__background !default;
// .branch .leaf-bottom ::before
$branch__leaf-bottom-before__border-left: $project-structure__branch__border-left !default;


.project-structure {
    padding: 0;
    &,
    ul {
        list-style: none;
    }
    ul {
        padding-left: 25px;
    }
    li {
        @extend %paragraphs;
        margin: 8px 0;
    }
    .branch {
        position: relative;
        border-left: $project-structure__branch__border-left;
        padding-left: 25px;
        margin-left: 12px;
        @include before-after {
            content: "";
            width: 7px;
            height: 7px;
            background: $project-structure__branch-before-after__background;
            position: absolute;
            display: block;
            left: -4px;
            border-radius: 50%;
        }
        @include before {
            top: -9px;
        }
        @include after {
            bottom: -7px;
        }
        &__leaf {
            &,
            &-top,
            &-bottom {
                position: relative;
            }
            &-top {
                @include before-after {
                    content: "";
                    position: absolute;
                    display: block;
                }
                @include before {
                    width: 26px;
                    height: 0;
                    top: -6px;
                    left: -20px;
                    border-top: $branch__leaf-top-before__border-top;
                }
                @include after {
                    width: 7px;
                    height: 7px;
                    background: $branch__leaf-top-after__background;
                    left: 8px;
                    top: -9px;
                    border-radius: 50%;
                }
            }
            &,
            &-bottom {
                @include before {
                    content: "";
                    width: 0;
                    height: 8px;
                    position: absolute;
                    display: block;
                    top: -9px;
                    left: 12px;
                    border-left: $branch__leaf-bottom-before__border-left;
                }
            }
        }
    }
}