//~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
//~~~* SYNAX HIGHLIGHTING *~~~//
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~//


// __line __block
$code__line-block__background: $color__amour !default;
$code__line-block__font-size: 90% !default;
$code__line-block__text-align: justify !default;
$code__line-block__color: $color__black !default;
$code__line-block__white-space: normal !default;
$code__line-block__border-radius: 3px !default;
// __line __block strong
$code__line-block-strong__font-weight: 600 !default;
// __line
$code__line__padding: 0 1px !default;
// __block
$code__block__display: block !default;
$code__block__padding: 16px !default;
$code__block__margin: 10px 0 !default;


.code{
    &__line,
    &__block{
        background: $code__line-block__background;
        font-size: $code__line-block__font-size;
        text-align: $code__line-block__text-align;
        color: $code__line-block__color;
        white-space: $code__line-block__white-space;
        border-radius: $code__line-block__border-radius;
    }
    &__line{
        padding: $code__line__padding;
    }
    &__block{
        display: $code__block__display;
        padding: $code__block__padding;
        margin: $code__block__margin;
        .part{
            &-visible{
                display: inline;
                &.invert{
                    @media screen and (max-width: 608px){
                        display: none;
                    }
                }
            }
            &-hidden{
                display: none;
                &.invert{
                    @media screen and (max-width: 608px){
                        display: inline;
                    }
                }
            }
        }
    }
}