//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* SYNAX HIGHLIGHTING *~~~~~~//
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//


// __line __block
$code__line-block__background: $color__amour !default;
$code__line-block__font-size: 90% !default;
$code__line-block__text-align: justify !default;
$code__line-block__color: $color__black !default;
// __block .part- visible/hidden .invert
$part-visible-hidden__beark-point: 608px !default;


.code {
    &__line,
    &__block {
        background: $code__line-block__background;
        font-size: $code__line-block__font-size;
        text-align: $code__line-block__text-align;
        color: $code__line-block__color;
        white-space: normal;
        border-radius: 3px;
    }
    &__line {
        padding: 1px 1px;
    }
    &__block {
        display: block;
        padding: 16px;
        margin: 10px 0;
        .part {
            &-visible {
                display: inline;
                &.invert {
                    @media screen and (max-width: $part-visible-hidden__beark-point) {
                        display: none;
                    }
                }
            }
            &-hidden {
                display: none;
                &.invert {
                    @media screen and (max-width: $part-visible-hidden__beark-point) {
                        display: inline;
                    }
                }
            }
        }
    }
}


// __keyword & __name & __opt-arg
$param__keyword-name-opt-arg__color: $color__black !default;
// __name & __opt-arg - before & after
$param__name-opt-arg__font-size: 1.75em !default;
// __name - before & after
$param__name__color: $color__sunset-orange !default;
// __opt-arg - before & after
$param__opt-arg__color: $color__navy-blue !default;


.param {
    &__keyword,
    &__name,
    &__opt-arg {
        color: $param__keyword-name-opt-arg__color;
        white-space: nowrap;
    }
    &__name,
    &__opt-arg {
        @include before-after {
            content: "[";
            font-size: $param__name-opt-arg__font-size;
        }
        @include before {}
        @include after {
            content: "]";
        }
    }
    &__keyword {}
    &__name {
        @include before-after {
            color: $param__name__color;
        }
    }
    &__opt-arg {
        @include before-after {
            color: $param__opt-arg__color;
        }
    }
}