//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* TABLE STRIPED *~~~~~~//
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//


.table-striped {
    width: 100%;
    border-spacing: 0;
    border: 1px solid $color__blue;
    &,
    &__thead,
    &__body,
    &__row,
    &__header,
    &__data {
        
    }
    &__thead {
        
    }
    &__body {
        
    }
    &__row {
        
    }
    &__header,
    &__data {
        padding: 5px;
    }
    &__header {
        
    }
    &__data {
        
    }
    .two-columns{
        width: (100% / 2);
    }
}