//-
    BuildServer

ol.article__list
    li #{data.articles.gulpTasks.table.rows.buildServer[0][0]} 
        code.param__name.param__name-inline-24 build
        a(href="#build" rel="help")
            sup 18
        |  #{data.articles.gulpTasks.table.rows.buildServer[0][1]}