//-
    Build

ol.article__list
    li 
        p.article__paragraph #{data.articles.gulpTasks.table.rows.build[0][0]}
            a(href="https://github.com/OverZealous/run-sequence#run-sequence" target="_blank" rel="help") run-sequence
            | ):
            code.param__name.param__name-inline-24
                | nr: 
                a(href="#clean" rel="help") 13
                | , 
                a(href="#sassLint" rel="help") 2
                | , 
                a(href="#sassCss" rel="help") 1
                | , 
                a(href="#jsHint" rel="help") 3
                | , 
                a(href="#pugLint" rel="help") 7
                | , 
                a(href="#pug" rel="help") 6
                | , 
                a(href="#htmlHint" rel="help") 9
                | , 
                a(href="#html" rel="help") 8
                | , 
                a(href="#htmlMinify" rel="help") 10
                | , 
                a(href="#copy" rel="help") 14
                | , 
                a(href="#images" rel="help") 15
                | , 
                a(href="#upload" rel="help") 17
        p.article__paragraph #{data.articles.gulpTasks.table.rows.build[0][1]}