//-
    PugLint

ol.article__list
    li #{data.articles.gulpTasks.table.rows.pugLint[0][0]} 
        strong .pug
        | .
    include modules/_gulpPlumber
    li #{data.articles.gulpTasks.table.rows.pugLint[1][0]}
        a(href="https://github.com/pugjs/pug-lint#rules" target="_blank" rel="help") gulp-pug-lint
        | ).
    li #{data.articles.gulpTasks.table.rows.pugLint[2][0]} 
        br.br__1
        | #{data.articles.gulpTasks.table.rows.pugLint[2][1]}