//Define Unicode
meta(http-equiv="Content-Type", content="text/html; charset=utf-8")

//Define Flexible Viewport for Mobile Devices
meta(name="viewport", content="width=device-width")

//Search Engine Optimization Sources
title Mail

//Cascading Style Sheets Sources
//build:css css/main.min.css inline
link(rel="stylesheet", href="css/main.css", inline)
//endbuild