//Define Unicode
meta(charset="utf-8")

//Define a Compatibility with IE
meta(http-equiv="x-ua-compatible" content="ie=edge")

//Define Flexible Viewport for Mobile Devices
meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")

//Phone Numbers Detection
meta(name="format-detection" content="telephone=no")

//Search Engine Optimization Sources
title Normal
meta(name="description" content="")
meta(name="keywords" content="")
meta(name="author" content="Mateusz Archiciński")
meta(property="og:title" content="")
meta(property="og:description" content="")
meta(property="og:image" content="tile-1200x630px.png")
meta(name="robots" content="index, follow, noodp")

//Icon Sources
link(rel="apple-touch-icon" href="apple-touch-icon.png")

//Fonts Sources
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900&subset=latin,latin-ext")

//Google Chrome - Theme Color
meta(name="theme-color" content="#F44336")

//Cascading Style Sheets Sources
//build:css css/main.min.css
link(rel="stylesheet" href="css/main.css")
//endbuild