/* Section */
.main-wrapper{
    width: 750px;
    background: #fff;
    padding: 50px 45px 75px;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 auto;
    &__info{
        padding: 0 0 0.15em 1em;
        border-left: 0.25em solid #ef5350;
    }
}